---
import Layout from "../../layouts/Layout.astro";
import Form from "../../components/Form.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="Contact"
  language="no"
  description="Ta kontakt med Arctic Hare Design for alle dine behov innen webutvikling og design. Vi er her for å hjelpe din bedrift å vokse på nettet. Kontakt oss i dag!"
/>
<main slot="body">
  <div id="text-form" class="container flex space-lg">
    <div id="main-text" class="flex-column">
      <h1>
        Er du klar for <span class="text-primary">din</span> nye <span
          class="text-primary">nettside?</span
        >
      </h1>
      <p>
        Usikker på hvor du skal starte eller hva du skal gjøre? Ikke bekymre
        deg, vi har deg dekket. Ring eller send oss en melding for å avtale et
        møte og diskutere din fremtidige nettside!
      </p>
      <a href="tel:004741392253">Ring oss på: +47 413 92 253</a>
      <a href="mailto:arctic.hare.design@gmail.com"
        >Send oss E-post på: arctic.hare.design@gmail.com</a
      >
      <span>Følg oss på:</span>
      <div id="socials">
        <a target="_blank" href="https://www.facebook.com/arctic.hare.design"
          ><img src="/facebook.svg" alt="Bedriftens Facebook" /></a
        >
        <a target="_blank" href="https://www.instagram.com/arctic_hare_design/"
          ><img src="/instagram.svg" alt="Bedriftens Instagram" /></a
        >
        <a
          target="_blank"
          href="https://www.linkedin.com/company/arctic-hare-design/about/"
          ><img src="/linkedin.svg" alt="Bedriftens LinkedIn" /></a
        >
      </div>
    </div>
    <div id="form-container">
      <Form color="dark" language="no" />
    </div>
  </div>
  <div id="wave-container" class="relative align-center">
    <img class="wave absolute" src="/contact/wave.svg" alt="" />

    <div class="container align-center">
      <img id="image" src="/contact/image.svg" alt="" />
      <p id="large-text">Ikke nøl med å spørre!</p>
    </div>
  </div>
  <Footer language="no" />
</main>

<style>
  main {
    font-size: var(--text-sm);
    color: var(--white);
  }

  #main-text {
    width: 55%;
    gap: var(--space-xs);
  }

  #form-container {
    flex-grow: 1;
  }

  #large-text {
    color: var(--black);
    font-family: "Fugaz One";
    font-size: var(--text-lg);
  }

  #wave-container {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-lg);
  }

  #wave-container div {
    width: 100%;
    justify-content: space-between;
  }

  .wave {
    height: 108%;
  }

  #socials {
    display: flex;
    gap: var(--space-sm);
  }

  @media only screen and (max-width: 768px) {
    #main-text {
      width: unset;
    }

    #wave-container {
      background: var(--white);
      padding-top: 0;
    }

    .wave {
      top: 1px;
      transform: translateY(-100%);
      height: var(--space-xl);
    }

    #wave-container .container {
      flex-direction: column;
    }

    #image {
      max-width: 90%;
    }

    .flex {
      flex-direction: column;
    }
  }
</style>
