---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import AccordionPanel from "../../components/AccordionPanel.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="Services"
  language="no"
  description="Utforsk det brede utvalget av webutvikling- og designtjenester som tilbys av Arctic Hare Design. Fra merkedesign til responsive nettsteder, vi gjør dine ideer til virkelighet."
>
  <main slot="body">
    <div id="wave-container" class="relative space-lg">
      <img class="wave absolute" src="/services/header-wave.svg" alt="" />
      <img
        id="header-image"
        class="absolute"
        src="/services/header-image.svg"
        alt=""
      />
      <div class="container">
        <h1>Tjenester</h1>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <AccordionPanel
          title="Design og Utvikling"
          fileName="design-development"
          language="no"
        />
        <AccordionPanel
          title="Nettstedsvedlikehold"
          fileName="website-maintenance"
          language="no"
        />
        <AccordionPanel
          title="Design og Trykk"
          fileName="design-print"
          language="no"
        />
        <AccordionPanel
          title="Sosiale Medier Administrasjon"
          fileName="media-management"
          language="no"
        />
        <AccordionPanel title="SEO" fileName="seo" language="no" />
      </div>
    </div>
    <Footer language="no" />
  </main>
  <style>
    h1 {
      color: var(--white);
    }

    .bg-white .container {
      padding: var(--space-lg) 0;
    }

    #wave-container {
    padding-top: var(--space-xl);
    padding-bottom: 30rem;
  }

    #wave-container .wave {
      max-height: 80%;
    }

    #header-image {
      right: var(--space-xl);
      bottom: 0;
      height: 60;
      max-width: 50%;
    }

    @media only screen and (max-width: 1200px) {
      #wave-container {
        padding-bottom: var(--space-xl);
      }

      #header-image {
        right: var(--space-xs);
      }
    }
  </style>
</Layout>
