---
import Layout from "../../layouts/Layout.astro";
import Form from "../../components/Form.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Contact" language="en">
  <main slot="body">
    <div id="text-form" class="container flex space-lg">
      <div id="main-text" class="flex-column">
        <h1>
          Are you ready for <span class="text-primary">your</span> new <span
            class="text-primary">website?</span
          >
        </h1>
        <p>
          Not sure where to start or what to do? Don't worry, we've got you
          covered. Call or message us to arrange a meeting and discuss your
          future website!
        </p>
        <a href="tel:004741392253">Call us on: +47 413 92 253</a>
        <a href="mailto:arctic.hare.design@gmail.com"
          >E-mail us at: arctic.hare.design@gmail.com</a
        >
        <span>Follow us on:</span>
        <div id="socials">
          <a target="_blank" href="https://www.facebook.com/arctic.hare.design"
            ><img src="/facebook.svg" alt="" /></a
          >
          <a
            target="_blank"
            href="https://www.instagram.com/arctic_hare_design/"
            ><img src="/instagram.svg" alt="" /></a
          >
          <a
            target="_blank"
            href="https://www.linkedin.com/company/arctic-hare-design/about/"
            ><img src="/linkedin.svg" alt="" /></a
          >
        </div>
      </div>
      <div id="form-container">
        <Form color="dark" language="en" />
      </div>
    </div>
    <div id="wave-container" class="relative align-center">
      <img class="wave absolute" src="/contact/wave.svg" alt="" />

      <div class="container align-center">
        <img id="image" src="/contact/image.svg" alt="" />
        <p id="large-text">Don't hesitate to ask!</p>
      </div>
    </div>
  </main>
  <Footer language="en" />
</Layout>

<style>
  main {
    font-size: var(--text-sm);
    color: var(--white);
  }

  #main-text {
    width: 55%;
    gap: var(--space-xs);
  }

  #form-container {
    flex-grow: 1;
  }

  #large-text {
    color: var(--black);
    font-family: "Fugaz One";
    font-size: var(--text-lg);
  }

  #wave-container {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-lg);
  }

  #wave-container div {
    width: 100%;
    justify-content: space-between;
  }

  .wave {
    height: 108%;
  }

  #socials {
    display: flex;
    gap: var(--space-sm);
  }

  @media only screen and (max-width: 768px) {
    #main-text {
      width: unset;
    }

    #wave-container {
      background: var(--white);
      padding-top: 0;
    }

    .wave {
      top: 0;
      transform: translateY(-100%);
      height: var(--space-xl);
    }

    #wave-container .container {
      flex-direction: column;
    }

    #image {
      max-width: 90%;
    }

    .flex {
      flex-direction: column;
    }
  }
</style>
