---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import ProductSection from "../../components/ProductSection.astro";
import TestimonialCard from "../../components/TestimonialCard.astro";
import Form from "../../components/Form.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import { Image } from "astro:assets";

import heroImage from "../../assets/index/hero-image.svg";
---

<Layout
  title="Home"
  language="en"
  description="Discover Arctic Hare Design, your trusted partner for professional web development and design. We create custom, responsive websites from scratch to help your business grow. Explore our services and portfolio today!"
>
  <main slot="body">
    <section id="hero" class="space-lg">
      <img
        id="hero-wave"
        class="wave absolute"
        src="/index/hero-wave.svg"
        alt=""
      />
      <div class="container center">
        <div class="hero-text flex-column">
          <h1>
            We make <span class="text-primary">your website</span> from scratch
          </h1>
          <p>
            We understand the importance of a website to grow your business and
            we would like to help you stand out. From brand design to responsive
            website, we turn your idea into reality.
          </p>
        </div>
        <Image
          id="hero-image"
          src={heroImage}
          alt=""
          widths={[385, 485, 500]}
          sizes={`(max-width: 768px), (max-width 1199px), (min-width:1200px)`}
        />
      </div>
    </section>
    <section class="bg-white">
      <div class="container flex-column align-center space-lg">
        <div>
          <h2>
            Big or Small, it doesn't matter. We will help your business grow.
          </h2>
          <p>
            Our expertly designed websites can significantly enhance your
            business growth by boosting online visibility, attracting more
            customers, and providing a seamless user experience.
          </p>
        </div>
        <ul id="card-container" class="flex">
          <Card
            decoration="1"
            href="/en/services#design-development"
            title="Design and Development"
            image="/index/design.svg"
            language="en"
          />
          <Card
            decoration="2"
            href="/en/services#website-maintenance"
            title="Website Maintenance"
            image="/index/develop.svg"
            language="en"
          />
          <Card
            decoration="3"
            href="/en/services#design-print"
            title="Design and Print"
            image="/index/brand.svg"
            language="en"
          />
        </ul>
        <a href="contact" class="btn btn-primary">Contact us</a>
      </div>
    </section>
    <section id="projects-section" class="bg-white">
      <div class="flex-column align-center space-lg">
        <h2>Here's what we've made so far</h2>
        <ul id="projects-container" class="padding-0">
          <li id="projects-wave-container" class="relative">
            <img
              id="projects-wave"
              src="/index/projects-wave.svg"
              alt=""
              class="wave absolute"
            />
            <ProductSection
              picture="/index/mamrot-mockup.png"
              text="We had the pleasure of creating a dynamic and visually captivating website for Mamrot Car Spa in Tromsø. Our design seamlessly blends sleek aesthetics with user-friendly functionality, ensuring an engaging experience for every visitor. "
              href="https://mamrotcarspa.no/index-en"
              reverse={false}
              language="en"
            />
          </li>
          <li class="bg-secondary relative">
            <img
              id="projects-circle"
              src="/index/light-circle.svg"
              alt=""
              class="circle absolute"
            />
            <ProductSection
              picture="/index/mcgurk-mockup.png"
              text="We crafted a stunning portfolio website for our developer. The site features an eye-catching interactive background that responds to mouse movements, creating an captivating and immersive user experience."
              href="https://johnmcgurk.no"
              reverse={true}
              language="en"
            />
          </li>
        </ul>
      </div>
    </section>
    <div class="bg-light">
      <section id="testimonials-section" class="relative">
        <img
          id="testimonials-circle"
          src="/index/white-circle.svg"
          alt=""
          class="circle absolute"
        />
        <img
          id="testimonials-image"
          class="absolute"
          src="/index/testimonials-image.svg"
          alt=""
        />

        <div class="container flex space-lg">
          <div>
            <h2>Testimonials</h2>
            <ul id="testimonials-container" class="flex-column">
              <TestimonialCard
                text="It was a pleasure working with Arctic Hare Design."
                customer="Urban Fox Photos"
              />
              <TestimonialCard
                text="Thank you so much for your help with my website, your wonderful design and your patience! You were super competent!"
                customer="Mamrot Car Spa"
              />
            </ul>
          </div>
        </div>
      </section>
      <section id="lets-talk-section" class="relative">
        <div class="space-lg relative">
          <img
            id="lets-talk-wave"
            src="/index/lets-talk-wave.svg"
            class="wave absolute"
            alt=""
          />
          <img
            id="lets-talk-image"
            src="/index/lets-talk-image.svg"
            class="absolute"
            alt=""
          />

          <div class="container flex">
            <div class="flex-column align-center space-lg">
              <h2>Not sure where to start?</h2>
              <a href="contact" class="btn btn-primary">Let's talk</a>
            </div>
          </div>
        </div>
      </section>

      <section id="contact-section">
        <div class="space-lg relative">
          <img
            id="contact-image"
            class="absolute"
            src="/index/contact-image.svg"
            alt=""
          />
          <div class="container justify-end">
            <div id="contact-container" class="flex-column">
              <h2>Send us a <span class="text-accent">message</span></h2>
              <Form color="" language="en" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <Footer language="en" />
  </main>
</Layout>

<style>
  #hero {
    box-sizing: border-box;
    color: var(--light);
    min-height: calc(100vh - var(--nav-height));
    position: relative;
    padding-top: var(--space-lg);
  }

  #hero .container {
    gap: var(--space-lg);
  }

  #hero-image {
    width: min(40vw, 50rem);
    height: auto;
  }

  #hero-wave {
    width: 100%;
    max-height: 60vh;
  }

  #projects-section div {
    padding-bottom: 0;
  }

  #projects-wave {
    height: 100%;
  }

  #projects-circle {
    top: 0;
    right: calc(-1 * var(--space-lg));
    transform: translateX(10%);
    max-height: 120%;
  }

  #card-container {
    width: 100%;
    justify-content: stretch;
    gap: var(--space-xs);
    padding: 0;
  }

  #projects-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  #projects-wave-container {
    box-sizing: border-box;
    width: 100%;
  }

  #testimonials-section {
    max-width: 100%;
    overflow: hidden;
  }

  #testimonials-section div {
    width: 60%;
    margin-left: auto;
  }

  #testimonials-container {
    width: 100%;
    gap: var(--space-sm);
    padding: var(--space-md) 0;
  }

  #testimonials-image {
    max-width: 35%;
    max-height: 80%;
    top: var(--space-lg);
    left: var(--space-lg);
  }

  #testimonials-circle {
    height: 80%;
    bottom: 0;
    transform: translateX(-15%);
  }

  #lets-talk-section > div {
    padding-bottom: 0;
  }

  #lets-talk-wave {
    max-height: 100%;
  }

  #lets-talk-image {
    right: var(--space-lg);
  }

  #contact-container {
    width: 45%;
    gap: var(--space-sm);
  }

  #contact-image {
    left: var(--space-lg);
    max-height: 75%;
  }

  @media only screen and (max-width: 1200px) {
    #lets-talk-section > .space-lg {
      padding-top: 0;
    }

    #lets-talk-image {
      width: 40%;
      right: var(--space-sm);
    }
  }
  @media only screen and (max-width: 768px) {
    #hero {
      display: flex;
      justify-content: center;
      padding-bottom: var(--space-md);
    }
    #hero .container {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-md);
    }

    #hero-image {
      width: min(60vw, 60rem);
    }

    #hero-wave {
      min-height: 30rem;
    }

    #card-container {
      flex-direction: column;
    }

    #projects-section h2 {
      padding: 0 var(--space-xs);
    }

    #testimonials-section div {
      margin: unset;
      width: unset;
    }

    #testimonials-image {
      transform: scaleX(-1);
      left: unset;
      right: var(--space-sm);
      max-width: 30vw;
    }

    #testimonials-circle {
      left: unset;
      right: calc(-1 * var(--space-sm));
      transform: translateX(15%);
      top: var(--space-lg);
    }

    #contact-container {
      width: 100%;
      padding-bottom: 90rem;
    }

    #contact-image {
      height: 80rem;
      bottom: var(--space-lg);
      left: 50%;
      transform: translateX(-50%);
    }

    #lets-talk-section .relative {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
      gap: 0;
    }

    #lets-talk-section .relative .space-lg {
      gap: var(--space-md);
      text-align: center;
    }

    #lets-talk-image {
      position: relative;
      max-width: 75%;
      right: unset;
    }

    #lets-talk-wave {
      height: 70%;
    }
  }
</style>
