---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import AccordionPanel from "../../components/AccordionPanel.astro";
import Footer from "../../components/Footer.astro";
---

<Layout
  title="Services"
  language="bg"
  description="Разгледайте широкия ни избор  от услуги за уеб разработка и дизайн, предлагани от Arctic Hare Design. От дизайн на марка до адаптивни уебсайтове, ние превръщаме вашите идеи в реалност."
>
  <main slot="body" class="bg">
    <div id="wave-container" class="relative space-lg">
      <img class="wave absolute" src="/services/header-wave.svg" alt="" />
      <img
        id="header-image"
        class="absolute"
        src="/services/header-image.svg"
        alt=""
      />
      <div class="container">
        <h1>Услуги</h1>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <AccordionPanel
          title="Дизайн и разработка"
          fileName="design-development"
          language="bg"
        />
        <AccordionPanel
          title="Поддръжка на уебсайт"
          fileName="website-maintenance"
          language="bg"
        />
        <AccordionPanel
          title="Дизайн и печат"
          fileName="design-print"
          language="bg"
        />
        <AccordionPanel
          title="Управление на социални медии"
          fileName="media-management"
          language="bg"
        />
        <AccordionPanel title="SEO оптимизация" fileName="seo" language="bg" />
      </div>
    </div>
    <Footer language="bg" />
  </main></Layout
>
<style>
  h1 {
    color: var(--white);
  }

  .bg-white .container {
    padding: var(--space-lg) 0;
  }
  #wave-container {
    padding-top: var(--space-xl);
    padding-bottom: 30rem;
  }

  #wave-container .wave {
    max-height: 80%;
  }

  #header-image {
    right: var(--space-xl);
    bottom: 0;
    height: 60;
    max-width: 50%;
  }

  @media only screen and (max-width: 1200px) {
    #wave-container {
      padding-bottom: var(--space-xl);
    }

    #header-image {
      right: var(--space-xs);
    }
  }
</style>
