---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
---

<Nav language="EN" page="Home" />
<Layout title="Welcome to Astro.">
  <main>
    <section id="hero" class="center">
      <div class="hero-text flex-column">
        <h1>
          We make <span class="text-primary">your website</span> from scratch
        </h1>
        <p>
          We understand the importance of a website to grow your business and we
          would like to help you stand out. From brand design to responsive
          website, we turn your idea into reality.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  #hero {
    color: var(--light);
    height: calc(100vh - var(--nav-height));
  }

  .text-primary {
    color: var(--primary);
  }
</style>
