---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
---

<Nav language="EN" page="Home" />
<Layout title="Welcome to Astro.">
  <main>
    <section id="hero" class="">
      <div class="container center">
        <div class="hero-text flex-column">
          <h1>
            We make <span class="text-primary">your website</span> from scratch
          </h1>
          <p>
            We understand the importance of a website to grow your business and
            we would like to help you stand out. From brand design to responsive
            website, we turn your idea into reality.
          </p>
        </div>
        <img id="hero-image" src="index/hero-image.svg" alt="" />
        <img id="hero-wave" class="wave" src="index/hero-wave.svg" alt="" />
      </div>
    </section>
    <section class="bg-white">
      <div class="container flex-column align-center space-lg">
        <div>
          <h2>
            Big or Small, it doesn't matter, we will help your business grow.
          </h2>
          <p>
            Forget fluffy marketing plans. We create online strategies that
            deliver real growth. Our team handles all the techy stuff -
            websites, e-commerce, SEO, social, video, even your brand - so you
            can focus on what you do best.
          </p>
        </div>
        <ul id="card-container" class="flex">
          <Card decoration="1" href="1" title="Design" body="" />
          <Card decoration="2" title="Web Development" body="" />
          <Card decoration="3" href="1" title="Brand Identity" body="" />
        </ul>
        <a href="" class="btn btn-primary">Contact us</a>
      </div>
    </section>
    <section class="bg-white">
      <div class="container flex-column align-center space-lg">
        <h2>Here's what we've made so far</h2>
      </div>
    </section>
  </main>
</Layout>

<style>
  #hero {
    box-sizing: border-box;
    color: var(--light);
    height: calc(100vh - var(--nav-height));
    position: relative;
    padding-top: var(--space-lg);
  }

  #hero .container {
    gap: var(--space-lg);
  }

  #hero-image {
    width: min(40vw, 50rem);
  }

  #hero-wave {
    width: 100%;
    max-height: 60vh;
    bottom: 0;
    z-index: -10;
  }

  #card-container {
    width: 100%;
    justify-content: stretch;
    gap: var(--space-xs);
    padding: 0;
  }
</style>
