<meta http-equiv="refresh" content="0;url=/en/" />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>Professional Web Development & Design Agency | Arctic Hare Design</title>
<meta
  name="description"
  content="Discover Arctic Hare Design, your trusted partner for professional web development and design. We create custom, responsive websites from scratch to help your business grow. Explore our services and portfolio today!"
/>

<meta
  property="og:title"
  content="Professional Web Development & Design Agency | Arctic Hare Design"
/>
<meta property="og:image" content="https://arcticharedesign.no/og_image.png" />
<meta
  property="og:description"
  content="Discover Arctic Hare Design, your trusted partner for professional web development and design. We create custom, responsive websites from scratch to help your business grow. Explore our services and portfolio today!"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://arcticharedesign.no/en" />
