---
interface Props {
  title: string;
  body: string;
  href: string;
  decoration: string;
}

const { href, title, body, decoration } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h3>
      <span class="decoration text-accent">{decoration}</span>
      {title}
    </h3>
    <p>
      {body}
    </p>
    <span class="btn-sm btn-primary"> Read more</span>
  </a>
</li>
<style>
  a {
    color: var(--black);
    text-decoration: none;
  }

  .link-card {
    position: relative;
    background-color: var(--secondary);
    border-radius: 4rem;
    flex: 1;
    padding: var(--space-sm);
    list-style: none;
    min-height: 30rem;
  }

  .decoration {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }

  .btn-sm {
    position: absolute;
    bottom: var(--space-sm);
    right: var(--space-sm);
  }
</style>
