---
interface Props {
  language: string;
}

const { language } = Astro.props;
---

<footer class="flex">
  <div class="flex-column">
    <h2>Let's talk</h2>
    <a href="">Phone: +47 413 92 253</a>
    <a href="">E-mail: arctic.hare.design@gmail.com</a>
    <div id="socials" class="flex">
      <a href=""><img src="facebook.svg" alt="" /></a>
      <a href=""><img src="instagram.svg" alt="" /></a>
      <a href=""><img src="linkedin.svg" alt="" /></a>
    </div>
  </div>
  <nav class="flex-column">
    <a href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact us</a>
  </nav>
  <img id="logo" src="logo-text.svg" alt="" />
</footer>

<style>
  footer {
    color: var(--white);
    padding: var(--space-lg);
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-sm);
  }

  .flex-column {
    gap: var(--space-xs);
  }

  p {
    margin: 0;
  }

  #socials {
    gap: var(--space-sm);
    height: var(--text-md);
  }

  #socials img {
    height: 100%;
  }

  #logo {
    max-height: 20rem;
  }
</style>
