---
interface Props {
  color: string;
}

const { color } = Astro.props,
  classList = ["flex-column", color];

let buttonColor = "btn-accent";
if (color === "dark") {
  buttonColor = "btn-primary";
}
const buttonClassList = ["btn-sm", buttonColor];
---

<form id="contact-form" action="" class:list={classList}>
  <div class="input-wrapper">
    <input class="text-input" type="text" placeholder=" " />
    <span class="placeholder">Name</span>
  </div>
  <div class="input-wrapper">
    <input class="text-input" type="text" placeholder=" " />
    <span class="placeholder">E-mail</span>
  </div>
  <div class="input-wrapper">
    <textarea class="text-input" name="" id="" rows="6" placeholder=" "
    ></textarea>
    <span class="placeholder">Message</span>
  </div>
  <input type="submit" class:list={buttonClassList} value="Contact us" />
</form>

<style>
  form {
    gap: var(--space-xs);
    align-items: flex-end;
    width: 100%;
  }

  form .text-input {
    background: var(--light);
    box-sizing: border-box;
    border: 1px solid;
    font-size: var(--text-md);
    font-family: champagne_regular, sans-serif;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
  }

  form.dark .text-input {
    color: var(--white);
    background-color: var(--black);
  }

  .input-wrapper {
    position: relative;
    align-self: stretch;
  }

  .input-wrapper .placeholder {
    font-size: var(--text-md);
    position: absolute;
    top: 2.2rem;
    left: 2.15rem;
    transition: transform 0.2s;
    transform-origin: left;
    pointer-events: none;
    width: 100%;
  }

  .text-input:focus ~ .placeholder,
  .text-input:not(:placeholder-shown) ~ .placeholder,
  .text-input:-webkit-autofill {
    transform: translateY(-75%) scale(0.5);
  }

  /* check if this is needed */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active {
    transition: all 600000s ease-in-out 0s;
  }
</style>
