---
interface Props {
  text: string;
  customer: string;
}

const { text, customer } = Astro.props;
---

<li class="relative">
  <img class="open-quotes" src="/index/quote.svg" alt="" />
  <img class="close-quotes" src="/index/quote.svg" alt="" />
  <p>{text}</p>
  <span id="customer">-{customer}</span>
</li>

<style>
  li {
    box-sizing: border-box;
    width: 100%;
    background: var(--secondary-30);
    padding: var(--space-sm) 7rem;
    text-align: center;
    list-style: none;
  }

  .open-quotes,
  .close-quotes {
    position: absolute;
    top: 25%;
  }

  .open-quotes {
    transform: translateX(-100%);
    left: var(--space-md);
  }

  .close-quotes {
    right: var(--space-md);
    transform: translateX(100%) rotate(180deg);
  }

  #customer {
    font-family: "champagne_bold", sans-serif;
    position: absolute;
    bottom: var(--space-xs);
    right: 7rem;
  }
</style>
